* {
  box-sizing: border-box;
}

body {
  border: 0px;
  padding: 0px;
  display: block;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-logo {
  height: 15vmax;
}

.App-header {
  color: red;
  display: flex;
  align-items: center;
  flex: 0 1 20%;
}

.App-body {
  display: flex;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  padding: 40px;
  flex: 1 1 70%;
}

.App-footer {
  display: block;
  text-align: center;
}