#count {
    display: inline;
    font-weight: bold;
}

#logo {
    height: 200px;
    width: 200px;
    background: url('../assets/HolbertonLogo.jpg') no-repeat center center;
    background-size: cover;
}