.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  max-height: 30vmin;
}


.App-header {
  display: flex;
  align-items: center;
  color: red;
  flex: 0 1 20%;
}

.App-body {
  display: flex;
  flex: 1 1 65%;
  padding: 50px 0px 0px 50px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

.App-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 15%;
}
